@import url('./base.css');
.header ul a{
    transition: color 0.5s;
}

.header ul li span:hover{
    text-decoration: none;
}

.header ul a:hover{
    color: rgba(0, 0, 255, 0.645);
}

.header ul a:target{
    color: black;
}
.button-submit{
    transition: all 0.3s;
}
.button-submit:hover{
    background-color: #592b71;
    transform: scale(1.1);
}
.button-cancel{
    transition: all 0.5s;
}
.button-cancel:hover{
    transform: scale(1.1);
}
input:focus{
    border-width: 1px;
    outline: none;
}
.menu > .menu-desplegable{
    transition: height 0.5s, opacity 1s;
}
.menu:hover > .menu-desplegable{
    height: calc(2.1rem * 4);
    overflow: visible;
    opacity: 1;
}
.menu .menu-desplegable li:hover{
    color: rgba(0, 0, 255, 0.645);
    cursor: pointer;
}

.menu-desplegable > li:hover > nav.lateral{
    display: flex !important;
}
.interno-final > li:hover > nav.lateral{
    display: flex !important;
    
}
.list form .img-select:hover > span{
    color: var(--color-altern-two);
}
.form-edit input:focus{
    outline: 2px solid var(--color-altern-two);
    box-shadow: 5px 5px 5px var(--color-altern-two);
}
.form-edit span:hover{
    color: var(--color-altern-two);
}